.skills-main{
    padding: 1rem;
    text-align: center;
    height: 100%;
    
}

.skills-container {
    display: flex;
    /* border: 1px solid white; */
    border-radius:var(--border-radius);
    justify-content: space-around;
    align-items:start;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    
}

.skills-card{
    display: flex;
    border-radius:var(--border-radius);
    border: 1px solid white;
    text-align: center;
    box-shadow: var(--box-shadow);

    /* width: 300px; */
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 1rem;
    height: 100%;
    border: 1px solid var(--low-color);
}

.skills-content-card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}

/* Skills icons animation */
.skills-icons{
    height: 100px;
    width: 100px;
}

.img-icons{
    width: 50px;
}

.img-icons:hover{
    transform: scale(1.25);
}