.navbar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--accent-color);
    color: white;
    padding: 1.5rem;
    width: 100%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    z-index: 2;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    
}

.navbar-a-links {
    padding-left: 10px;
    text-decoration: none;
}

.navbar-a-links > a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

