/* Footer */

.social-media {
  display: flex;
  width: 100%;
  /* margin-top: 2rem; */
  padding: 0.5rem;
  background: linear-gradient(135deg, var(--accent-color), var(--text-color));
  color: white;
  justify-content: space-around;
}

.social-media > ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.social-media-a-links > a {
  text-decoration: none;
  color: white;
  margin-left: 0.3rem;
  font-size: 0.8rem;
}
