:root{
    /* Colors */
    --bg-color: #f4f5fb;
    --low-color: #eef2ff;
    --medium-color: #a5b4fc;
    --high-color: #6366f1;
    --accent-color: #4037c2;
    --text-color: #1e1b4b;
    --text-color-light: #eef2ff;
    

    --box-shadow-light: 5px 5px 2px 0px rgba(0,0,0,0.3);
    --box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    --border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 22px;
}

body {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(246,246,246,0.969625350140056) 50%, rgba(228,232,235,1) 100%);
    /* font-weight: 600; */
    color: var(--text-color);
    /* min-width: 400px; */
}

h1 {
    font-size: 1.5rem;
}
h2{
    font-size: 1.2rem;
}
.container-root {
    display: flex;
    flex-direction: column;
    height: 100%;

}

section {
    height: 100vh;
    max-width: 1200px;
    align-self: center;
    width: 100%;
}